<form action="/create_account" method="post" name="register">
        {{ account_form.hidden_tag() }}
        <p>
            Enter desired username:<br>
            {{ account_form.email(size=80) }}<br>
            {% for error in account_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Enter desired password:<br>
            {{  account_form.password(size=80) }}<br>
            {% for error in account_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Select account type:<br>
            {{ account_form.account_permission }}
        </p>
        <p><input type="submit" value="Register" name='register'></p>
    </form>
