<form action="/create_unit" method="post" name="create_unit">
    {{ create_unit.hidden_tag() }}
    <p>
        Name:<br>
        {{ create_unit.name(size=80) }}<br>
        Credits:<br>
        {{ create_unit.credits(size=80) }}<br>
        Unit Coordinator:<br>
        {{ create_unit.coordinator }}<br>
    </p>
    <input type="submit" value="Create Unit" name='createUnit'>
</form>
