<form action="/create_course_info" method="post" name="create_course_info">
    {{ create_course_info.hidden_tag() }}
    <p>
        Year:<br>
        {{ create_course_info.year }}
        <br>
        Course:<br>
        {{ create_course_info.course }}
    </p>
    <input type="submit" value="Create Course Info" name='createCourseInfo'>
</form>
