<form action="/create_lecturer" method="post" name="create_lecturer">
        {{ create_lecturer.hidden_tag() }}
        <p>
            Email:<br>
            {{ create_lecturer.email(size=80) }}<br>
            {% for error in create_lecturer.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Password:<br>
            {{  create_lecturer.password(size=80) }}<br>
            {% for error in create_lecturer.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            First Name:<br>
            {{ create_lecturer.fname(size=80) }}<br>
            {% for error in create_lecturer.fname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Last Name:<br>
            {{ create_lecturer.lname(size=80) }}<br>
            {% for error in create_lecturer.lname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Phone:<br>
            {{ create_lecturer.phone(size=80) }}<br>
            {% for error in create_lecturer.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Department:<br>
            {{ create_lecturer.dept(size=80) }}<br>
            {% for error in create_lecturer.dept.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <input type="submit" value="Create Lecturer" name='createLecturer'>
    </form>
