<form action="/create_unit_information" method="post" name="create_unit_information">
    {{ create_unit_information.hidden_tag() }}
    <p>
        Room:<br>
        {{ create_unit_information.room(size=80) }}<br>
        Start:<br>
        {{ create_unit_information.start(size=80) }}<br>
        End:<br>
        {{ create_unit_information.end(size=80) }}<br>
        Weekday:<br>
        {{ create_unit_information.weekday }}<br>
        Lecturer:<br>
        {{ create_unit_information.lecturer }}<br>
        Unit:<br>
        {{ create_unit_information.unit }}<br>
    </p>
    <input type="submit" value="Create Unit Information" name='createUnitInformation'>
</form>
