<form action="/create_course" method="post" name="create_course">
    {{ create_course.hidden_tag() }}
    <p>
        Name:<br>
        {{ create_course.name(size=80) }}
    </p>
    <input type="submit" value="Create Course" name='createCourse'>
</form>
