<form action="/create_student" method="post" name="create_student">
        {{ create_student.hidden_tag() }}
        <p>
            Email:<br>
            {{ create_student.email(size=80) }}<br>
            {% for error in create_student.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Password:<br>
            {{  create_student.password(size=80) }}<br>
            {% for error in create_student.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            First Name:<br>
            {{ create_student.fname(size=80) }}<br>
            {% for error in create_student.fname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Last Name:<br>
            {{ create_student.lname(size=80) }}<br>
            {% for error in create_student.lname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Phone:<br>
            {{ create_student.phone(size=80) }}<br>
            {% for error in create_student.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Course/Year:<br>
            {{ create_student.year }}<br>

            Tutor:<br>
            {{ create_student.tutor }}
        </p>
        <input type="submit" value="Create Student" name='createStudent'>
    </form>
