<form action="/link_unit" method="post" name="link_unit">
    {{ link_unit.hidden_tag() }}
    <p>
        Year:<br>
        {{ link_unit.year }}<br>
        Unit:<br>
        {{ link_unit.unit }}<br>
    </p>
    <input type="submit" value="Link Unit">
</form>