#flex {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
}
@font-face {
  font-family: Audiowide;
  src: url(Audiowide-Regular.ttf);
}
.control {
    flex-wrap: wrap;
    background-color: #392365;
    border-radius: 20px;
    margin: 10px;
    color: white;
    flex: 1;
    padding: 10px;
}

.control:hover {
    background-color: #59379e;
}
.input:hover{
  background-color: green;
}
/*
forms
*/
#content-wrap-createAccount{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}

#content-wrap-createStudent{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
#content-wrap-createLecturer{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
#content-wrap-createCourse{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
#content-wrap-addCourseInfo{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
#content-wrap-addUnit{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
#content-wrap-addUnitInformation{
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
}
/*
input boxes.
*/
#email{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#password{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#fname{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#lname{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#phone{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#dept{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#name{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
#credits{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;

}
#room{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
#start{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
#end{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
/*
drop down menus
*/
#account_permission{
  width: 30%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#account_permission:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#year{
  width: 60%;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
  text-align: center;
}
#year:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#tutor{
  width: 60%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#tutor:hover{
  color:white;
  background-color: DarkGray;
}
#coordinator{
  width: 60%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#coordinator:hover{
  color:white;
  background-color: DarkGray;
}
#weekday{
  width: 30%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#weekday:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#lecturer{
  width: 60%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#lecturer:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#unit{
  width: 30%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#unit:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#course{
  width: 40%;
  font-size: 20px;
  border-radius: 8px;
  color: #59379e;
  margin-bottom: 2%;
  padding: 1%;
  font-family: Audiowide;
}
#course:hover{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;

}
#logintext{
  font-size: 100px;
}
#content-wrap-createAccount input[name="register"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
  transition: 0.5s;
}
#content-wrap-createAccount input:hover[name="register"]{
  color:white;
  background-color: DarkGray;
}
#content-wrap-createStudent input[name="createStudent"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
    transition: 0.5s;
}
#content-wrap-createStudent input:hover[name="createStudent"]{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}
#content-wrap-createLecturer input[name="createLecturer"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
  transition: 0.5s;
}
#content-wrap-createLecturer input:hover[name="createLecturer"]{
  color:white;
  background-color: DarkGray;

}
#content-wrap-createCourse input[name="createCourse"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
  transition: 0.5s;
}
#content-wrap-createCourse input:hover[name="createCourse"]{
  color:white;
  background-color: DarkGray;

}
#content-wrap-addCourseInfo input[name="createCourseInfo"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 45%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
    transition: 0.5s;
}
#content-wrap-addCourseInfo input:hover[name="createCourseInfo"]{
  color:white;
  background-color: DarkGray;

}
#content-wrap-addUnit input[name="createUnit"]{
color: #59379e;
background: white;
border-radius: 15px;
width: 35%;
height: 10%;
padding: 15px 32px;
font-size: 20px;
font-weight: bold;
position: relative;
top: 10%;
font-family: Audiowide;
  transition: 0.5s;
}
#content-wrap-addUnit input:hover[name="createUnit"]{
  color:white;
  background-color: DarkGray;

}
#content-wrap-addUnitInformation input[name="createUnitInformation"]{
color: #59379e;
background: white;
border-radius: 15px;
width: 48%;
height: 10%;
padding: 15px 32px;
font-size: 20px;
font-weight: bold;
position: relative;
top: 10%;
font-family: Audiowide;
text-align: center;
  transition: 0.5s;
}
#content-wrap-addUnitInformation input:hover[name="createUnitInformation"]{
  color:white;
  background-color: DarkGray;
}
