body {
    font-family: 'Open-Sans', sans-serif;
    margin: 46px 0 0;
}

#centre {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 35px;
}

#page-content {
    display: block;
    padding-left: 14px;
    padding-top: 14px;
}
#log{
width: 2%;
height: 2%;
}
