footer {
    display: table;
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    color: white;
    background: #59379e;
}

footer div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}