
@font-face {
  font-family: Audiowide;
  src: url(Audiowide-Regular.ttf);
}

body{
  overflow: hidden;
}

form {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 2px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
form input {
    margin-bottom: 0.2em;
    background-color: green;
}

.validation_error{
    color: red;
    display: inline-block;
    height: 24px;
}
#forgotAccount{
  position: absolute;
  left: 37%;
  top: 50%;
  font-family: Audiowide;
  font-size: 20px;
  color: #59379e;
}

#RSLogo {
  position: absolute;
    width: 50%;
    top: 7%;
    left: 23%;
}

#pass{
  display: inline-flex;
  width: 50px;
  height: 50px;
}
#user{
  width: 50px;
  height: 50px;

}

#rememberMe{
  position: absolute;
  color:#59379e;
  font-size: 15px;
  left: 73%;
  top: 20%;
  text-align: center;

}

#content-wrap{
  width: 100%;
  height: 69%;
  left: 0%;
  position: absolute;
  color: white;
  top: 26%;
  text-align:center;
  font-family: Audiowide;
}

#mini-wrap{
  width: 60%;
  height: 96%;
  left: 20%;
  color: white;
  top: 15%;
  border-radius: 10px;
  text-align:center;

  font-family: Audiowide;
  position: relative;
}
#logintxt{
  color: #59379e;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 30px;
}
#password{
  color: white;
  background-color: #59379e;
  border-radius: 7px;
  width: 75%;
  height: 44px;
  padding: 8px 32px;
  font-size: 20px;
  font-family: Audiowide;
  border:none;
  margin-left: 12px;
}
#password:hover{
  background-color: DimGray;
  transition: 0.5s;
}
#email{
  color: white;
  background-color: #59379e;
  border-radius: 7px;
  width: 75%;
  height: 44px;
  padding: 8px 32px;
  margin-left: 10px;
  font-size: 20px;
  font-family: Audiowide;
  border:none;
}
#email:hover{
  background-color: DimGray;
  transition: 0.5s;
}
::-webkit-input-placeholder{
color:white;
}



.input{
  color: white;
  background: DimGray;
  border-radius: 15px;
  width: 250px;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  text-align: center;
  font-family: Audiowide;
  transition: 0.5s;
  position: relative;
  left: 5%;

}
.input:hover{
  color: white;
  background-color: #59379e;
}

#text{
  color: white;
  font-size: 25px;
}

#content-wrap img{
  width: 50px;
  height: 50px;
}

#textbox{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
input[type='checkbox']{

}

#remember_me{
 width: 30px;
 height: 30px;
 position: relative;
 bottom: -15%;
 background:red;
 background-color: red;
 background: red;
 color:red;
}
  #membertext{
    font-family: Audiowide;
    color: #59379e;
    font-size: 25px;
    position: relative;
    left: 27%;
  }
