@font-face {
  font-family: Audiowide;
  src: url(Audiowide-Regular.ttf);
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59379e;
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 99;
    font-family: Audiowide;
}

#navbar li {
  float:left;
  width: 18%;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    position: relative;
    left: 75%;
    font-size: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #59379e;

}

#navbar li a:hover {
    background-color: gray;
    transition: 0.5s;
}
