@font-face {
  font-family: Audiowide;
  src: url(Audiowide-Regular.ttf);
}

#content-wrap{
  width: 40%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 30%;
  left: 30%;
  opacity: 0.9;
  background-color: #392365;
  border-radius: 20px;
  text-align:center;
  font-family: Audiowide;
}
#content-wrap:hover{
  background-color: #59379e;
}
#password{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#email{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#content-wrap input[name="register"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10%;
  font-family: Audiowide;
}
#content-wrap input:hover[name="register"]{
color:white;
background-color: gray;
}