@font-face {
  font-family: Audiowide;
  src: url(Audiowide-Regular.ttf);
}

#heading{
  font-family: Audiowide;

}

#context-wrap{
  margin-bottom: 2%;
  position: absolute;
  color: white;
  top: 25%;
  left: 29%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  font-family: Audiowide;
  background-color: #392365;
}

#context-wrap:hover{
    background-color:#59379e;
}

#code{
  color: #59379e;
  background-color: white;
  border-radius: 7px;
  width: 35%;
  height: 5%;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#context-wrap input[name="sessionSign"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  font-family: Audiowide;
  transition: 0.5s;
  margin-bottom: 2%;
  margin-top: 2%;
}

#context-wrap input:hover[name="sessionSign"]{
  color:white;
  background-color: DarkGray;
  font-family: Audiowide;
}

#sessions {
    display: flex;
    flex-flow: column;
}
.sessionRow {
    background-color: gray;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #59379e;
    width: 99%;
    position: relative;
    left: 0%;
    text-align: center;
    font-family: Audiowide;
    font-size: 20px;
    top: 20%;
}

.sessionRow:hover {
    background-color: #392365;
}

/*
-------------Lecturer_Main--------------------
*/
#content-wrap{
  color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0.9;
  border-radius: 20px;
  text-align:center;
  width: 50%;
  font-family: Audiowide;
  height: 20%;
  background-color: #59379e;
}

#content-wrap:hover{
  background-color: #392365;
}

#content-wrap input[name="lecturerDetails"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  font-family: Audiowide;
  transition: 0.5s;


}
#content-wrap input:hover[name="lecturerDetails"]{
  color:white;
  background-color: DarkGray;
}
#content-wrap input[name="lecturerSearch"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 35%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  font-family: Audiowide;
  transition: 0.5s;
  margin-bottom: 2%;

}
#content-wrap input:hover[name="lecturerSearch"]{
  color:white;
  background-color: DarkGray;
}
#buttons input[name="activateSession"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 30%;
  height: 10%;
  padding: 10px 32px;
  font-size: 15px;
  font-weight: bold;
  font-family: Audiowide;
  transition: 0.5s;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 8%;
}
#buttons input:hover[name="activateSession"]{
  color:white;
  background-color: DarkGray;
}
#buttons input[name="viewSession"]{
  color: #59379e;
  background: white;
  border-radius: 15px;
  width: 30%;
  height: 10%;
  padding: 10px 32px;
  font-size: 15px;
  font-weight: bold;
  font-family: Audiowide;
  transition: 0.5s;
  margin-bottom: 2%;
  margin-top: 2%;
}
#buttons input:hover[name="viewSession"]{
  color:white;
  background-color: DarkGray;
}

/*
-------------Lecturer_Search------------------
*/
#logo{
  width: 12%;
  height: 8%;
  position: absolute;
  left:44%;
  top: 5%;
}
#SearchForm{
  width: 75%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 14%;
  left: 11%;
  opacity: 0.9;
  background-color: #59379e;
  border-radius: 20px;
  text-align:center;
}
#ResultForm{
  width: 75%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 55%;
  left: 11%;
  opacity: 0.9;
  background-color: #59379e;
  border-radius: 20px;
  text-align: center;
}

#textTweak{
  font-size: 25px;
  font-family: monospace;
  text-align: center;
}

#search-wrap input[name="green"]{
  color: green;
  background-color: white;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;

}
#search-wrap input[name="orange"]{
  color: orange;
  background-color: white;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
}
#search-wrap input[name="red"]{
  color: red;
  background-color: white;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
}
#search-wrap input[name="display"]{
  color: #59379e;
  background-color: white;
  border-radius: 20px;
  width: 7%;
  height: 10%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}
#search-wrap input[name="search"]{
  color: #59379e;
  background: white;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
}

#green-student{
  width: 33.3%;
  height: 450%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 100%;
  left: 0%;
  background-color: green;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
#orange-student{
  width: 33.3%;
  height: 450%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 100%;
  left: 33.3%;
  background-color: orange;
  border-radius: 20px;
  text-align: center;
    font-size: 20px;
}
#red-student{
  width: 33.3%;
  height: 450%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 100%;
  left: 66.6%;
  background-color: red;
    border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
/*
-------------Lecturer_Details------------------
*/
#search-wrap input[name="searchDetail"]{
  color: #59379e;
  background-color: white;
  border-radius: 20px;
  width: 30%;
  height: 5%;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}
#search-wrap input[name="displayDetail"]{
  color: #59379e;
  background: white;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
}
#search-wrap input[name="displayDetail"]{

}
#ResultForm2{
  width: 75%;
  position: absolute;
  margin-bottom: 2%;
  color: white;
  top: 45%;
  left: 11%;
  opacity: 0.9;
  background-color: #59379e;
  border-radius: 20px;
  text-align: center;
}
#resultContent{
  text-align: left;
  position: relative;
  left: 5%;
  top: 1%;
  font-size: 15px;
  font-weight: bold;
}

#contentDesign1{
  width: 30%;
  height: 450%;
  position:relative;
  margin-bottom: 2%;
  color: black;
  top: 100%;
  left: -2%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
#contentDesign2{
  width: 30%;
  height: 450%;
  position:relative;
  margin-bottom: 2%;
  color: black;
  top: 100%;
  left: 0%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
#contentDesign3{
  width: 30%;
  height: 450%;
  position:relative;
  top: 50%;
  margin-bottom: 2%;
  color: black;
  top: 100%;
  left: 2%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
#h1Purple{
  position: relative;
  left: 12%;
  color: #59379e;
  padding-bottom: 2%;
}
#h2Purple{
  position: relative;
  left: 26%;
  color: #59379e;
    padding-bottom: 2%;
}
#h3Purple{
  position: relative;
  left: 20;
  color: #59379e;
    padding-bottom: 2%;
}
