{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="/static/styles/admin.css"/>
    <body background="/static/images/back.jpg">
{% endblock %}

{% block content %}
    <ul id="flex">
<div id='content-wrap-createAccount'>
        <div class="control">
            <h1>Create Account</h1>
            <p><em>Deprecated, use for admin accounts only</em></p>
            {% include 'forms/create_account.html' %}
        </div>
      </div>
<div id='content-wrap-createStudent'>
        <div class="control">
            <h1>Create Student</h1>
            {% include 'forms/create_student.html' %}
        </div>
</div>
<div id='content-wrap-createLecturer'>
        <div class="control">
            <h1>Create Lecturer</h1>
            {% include 'forms/create_lecturer.html' %}
        </div>
</div>
<div id='content-wrap-createCourse'>
        <div class="control">
            <h1>Create Course</h1>
            {% include 'forms/create_course.html' %}
        </div>
</div>
<div id='content-wrap-addCourseInfo'>
        <div class="control">
            <h1>Add Course Info</h1>
            {% include 'forms/create_course_info.html' %}
        </div>
</div>
<div id='content-wrap-addUnit'>
        <div class="control">
            <h1>Add Unit</h1>
            {% include 'forms/create_unit.html' %}
        </div>
</div>
<div id='content-wrap-addUnitInformation'>
        <div class="control">
            <h1>Add Unit Information</h1>
            {% include 'forms/create_unit_information.html' %}
        </div>

        <div class="control">
            <h1>Link unit with Course Year</h1>
            {% include 'forms/link_unit.html' %}
        </div>
    </ul>
{% endblock %}
