<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Styles applied to all pages -->
    <link rel="stylesheet" type="text/css" href="/static/styles/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
    <script type="text/javascript" src="/static/scripts/showmessages.js"></script>

    {% block additional_scripts %}{% endblock %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <meta name="msg" content="{{ message }}">
                {% endfor %}
            {% endif %}
        {% endwith %}

    <!-- Styles required by sub-templates -->
    {% block additional_styles %}{% endblock %}

    <!-- Link with favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Include Open-Sans font from Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <!-- Set title of page if supplied -->
    {% if title %}
        <title>{{ title }} - RSystem</title>
    {% else %}
        <title>RSystem</title>
    {% endif %}
</head>
<body>
<div id="centre">
    <!-- Navbar elements-->
    {% if not hideNav %}
    <ul id="navbar">
        <li><a href="/index">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/register">Register</a></li>
        {% if user and user.email %}
            <li><a href="/cpl">{{ user.email }}</a></li>
        {% endif %}
    </ul>
    {% endif %}

    <!-- Rest of content is inserted here -->
    <div id="page-content">
        {% block content %}{% endblock %}
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
