<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if error and error.name %}
        <title>{{ error.name }} - RSystem</title>
    {% else %}
        <title>Error</title>
    {% endif %}
</head>
<body>
<h1>Something went wrong...</h1>
<p>Please contact an administrator</p>
    {% if error and error.data %}
        <pre>{{ error.data }}</pre>
    {% else %}
        <code>No error info supplied</code>
    {% endif %}
</body>
</html>