{% extends "base.html" %}
{% block content %}
    {% if user.accountEmail %}
        <h1>Hi, {{ user.accountEmail }}!</h1>
    {% else %}
        <h1>I'd say hi, but you aren't logged in...</h1>
    {% endif %}

{% endblock %}