{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="/static/styles/lecturer.css"/>
<body background="/static/images/back.jpg">
{% endblock %}

{% block content %}
<div id='content-wrap'>
    <h1>Lecturer Page</h1>
        <form action="/templates/lecturer_details.html">
            <input type="submit" value="Details" name="lecturerDetails">
            <form action="/templates/lecturer_search.html">
            <input type="submit" value="Search" name="lecturerSearch">
        </form>
      <p> </p>
      <p> </p>
      {% for session in sessions %}
          <div class="sessionRow">
            <div id="buttons">
              {{ session[0] }} - {{ session[1] }} - {{ session[2] }} - {{ session[3] }} - {{ session[4] }}
              <p>  </p>
              <input type="submit" value="Activate Session" name="activateSession">
              <input type="submit" value="View Session" name ="viewSession">
  </div>
          </div>
      {% endfor %}
  {% endblock %}
      </div>

</body>
