{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="/static/styles/navbar.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/footer.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/base.css"/>
{% block additional_styles %}
<body background="/static/images/background.jpg">
<link rel="stylesheet" type="text/css" href="/static/styles/lecturer.css">
{% endblock %}

{% block content %}
<img id="logo" src="/static/images/RSlogo.png">
<body>
  <div id ="SearchForm">
  <form id ='search-wrap'>
    <div id ="textTweak">
    <h1>Search Page</h1>
    <p>Search student attendance according by attendance level</p>
<input type='button' name="green" value="green attendance">
<input type='button' name='orange' value='orange attendance'>
<input type='button' name="red" value="red attendance">
<p> or find student by individual id:</p>
<input type="text" name='search' placeholder='write student ID here'>
<p>  </p>
<input type='submit' name='display' placeholer='Submit'>
  </div>
</div>

<div id ="ResultForm" class='hidden'>
<form id="result-wrap"class='hidden'>
  <h1> Results </h1>
<div id ="green-student"class='hidden'>
  <p>Students found: 120</p>
<form>



</form>
</div>
<div id ="orange-student"class='hidden'>
    <p>Students found: 42</p>
<form>



</form>
</div>
  <div id ="red-student"class='hidden'>
      <p>Students found: 12</p>
<form>

</form>
</div>
</div>
</form>
  <div id="centre">
      <!-- Navbar elements-->
      {% if not hideNav %}
      <ul id="navbar">
          <li><a href="/index">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </div>
          {% if user and user.email %}
              <li><a href="/cpl">{{ user.email }}</a></li>
          {% endif %}

{% endblock %}
