{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="/static/styles/navbar.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/footer.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/base.css"/>
{% block additional_styles %}
<body background="/static/images/background.jpg">
<link rel="stylesheet" type="text/css" href="/static/styles/lecturer.css">
{% endblock %}

{% block content %}
<img id="logo" src="/static/images/RSlogo.png">
<body>
  <div id ="SearchForm">
  <form id ='search-wrap'>
    <h1>Details Page</h1>
  <p> Find individual student's details by inserting their ID:</p>
  <input type="text" name='searchDetail' placeholder='write student ID here'>
  <p>  </p>
  <input type='submit' name='displayDetail' placeholer='Submit'>
</form>
</div>
  <div id ="ResultForm2" class='hidden'>
  <form id="result-wrap2"class='hidden'>
    <h1> Results </h1>
    <div id = "contentDesign1">
<div id ="resultContent">
  <div id="h1Purple">
  <h1>Student information</h1>
</div>
    <p> Full Name:</p>
    <p> Phone: </p>
    <p> Tutor: </p>
    <p> Year: </p>
  </div>
</div>
  <div id ="contentDesign2">
    <div id="resultContent">
      <div id="h2Purple">
      <h1>Unit Details</h1>
          </div>
    <p>Unit ID:</p>
    <p>Unit Name:</p>
    <p>Unit Credit:</p>
    <p>Unit Co-ordinator ID:</p>
</div>
</div>
  </form>
  </div>
  </div>
  <div id="centre">
      <!-- Navbar elements-->
      {% if not hideNav %}
      <ul id="navbar">
          <li><a href="/index">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </div>
          {% if user and user.email %}
              <li><a href="/cpl">{{ user.email }}</a></li>
          {% endif %}

{% endblock %}
