{% extends "base.html" %}

{% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
<body background="/static/images/back.jpg">
{% endblock %}

{% block content %}

<img id="RSLogo" src="/static/images/rslogo.png">
<div id ='content-wrap'>
<div id='mini-wrap'>

<form method="post" name="login">
    {{ form.hidden_tag() }}
    <div id="text">
      <div id='logintxt'>
      <p>WELCOME</p>
    </div>
  </div>


    <div id ='textbox'>
      <div id="user">
      <img src="/static/images/user.png" name='userPic'>
    </div>
        <!-- Email -->
        {{ form.email(size=80, placeholder="Email") }}<br>
        {% for error in form.email.errors %}
        <span class="validation_error">[{{ error }}]</span>
        {% endfor %}
      </div>

      <div id ='textbox'>
        <div id ='pass'>
        <img src="/static/images/pass.png" name='pass'>
        </div>
        <!-- Password -->
        {{  form.password(size=80, placeholder="Password") }}<br>
        {% for error in form.password.errors %}
        <span class="validation_error">[{{ error }}]</span>
        {% endfor %}
      </div>
    <input type="submit" value="Login" name="login" class="input">
    <input type="submit" value="Create Account" name="register" class="input">
    <div id="membertext">
      Remember me? {{ form.remember_me }}
    </div>
  </div>
  </div>
</div>

</form>


{% endblock %}
