{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/register.css">
<body background="/static/images/back.jpg">
<div id ='content-wrap'>
  <h1>Register</h1>
  <form action="/register" method="post" name="register">
      {{ form.hidden_tag() }}
      <p>
          Enter desired username:<br>
          {{ form.email(size=80) }}<br>
          {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Enter desired password:<br>
          {{  form.password(size=80) }}<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
      <input type="submit" value="Create Account" name="register">
    </p>
  </form>
</div>
{% endblock %}
