{% extends 'base.html' %}

{% block additional_scripts %}
    <script>
    window.addEventListener('load', run);
    function run() {
        var button = $("[type='submit']");
        var code = $('#code');

        $(button).on('click', function () {
            if ($(code).val() === "FNKEA3") {
                alert('You have been signed in for the current lecture');
            } else {
                alert('Sorry this code is not valid');
            }
        });
    }


    </script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/student.css"/>
<body background="/static/images/back.jpg">


  <div id="context-wrap">
      <div id="heading">
        <h1>Student Page</h1>
      </div>
    <p>You have an active session, please enter session code:</p>
    <input id="code" placeholder="Session Code:">
    <p></p>

  {% for session in sessions %}
          <div class="sessionRow">
            <div id="buttons">
              {{ session[0] }} - {{ session[1] }} - {{ session[2] }} - {{ session[3] }} - {{ session[4] }}
              <p>  </p>
              <input type="submit" value="Sign In" name="sessionSign">
  </div>
          </div>
      {% endfor %}
  </div>


{% endblock %}
